In [1]:
import pandas as pd
import numpy as np

In [3]:
fd=pd.read_csv("C:\\Users\\hemanth\\Downloads\\JigSaw\\Day 12\\PythonForModellers-master\\
PythonForModellers-master\\Data\\FlightDelays.csv")

In [24]:
fd.dtypes

schedtime                int64
carrier                 object
deptime                  int64
dest                    object
distance                 int64
date            datetime64[ns]
flightnumber             int64
origin                  object
weather                  int64
tailnu                  object
delay                   object
weekday                  int64
weekend                 object
dtype: object

In [29]:
fd.head()

,schedtime,carrier,deptime,dest,distance,date,flightnumber,origin,weather,tailnu,delay,weekday,weekend,dayNum,DayofWeek
0,1455,OH,1455,JFK,184,2004-01-01,5935,BWI,0,N940CA,ontime,3,weekday,3,weekday
1,1640,DH,1640,JFK,213,2004-01-01,6155,DCA,0,N405FJ,ontime,3,weekday,3,weekday
2,1245,DH,1245,LGA,229,2004-01-01,7208,IAD,0,N695BR,ontime,3,weekday,3,weekday
3,1715,DH,1709,LGA,229,2004-01-01,7215,IAD,0,N662BR,ontime,3,weekday,3,weekday
4,1039,DH,1035,LGA,229,2004-01-01,7792,IAD,0,N698BR,ontime,3,weekday,3,weekday

In [6]:
# to find out no of flights delayed for all weekdays
fd['date']=pd.to_datetime(fd['date'])

In [28]:
fd['dayNum']=fd['date'].dt.weekday
def decideweek(x):
    if x < 5:
        return "weekday"
    else:
        return "weekend"
fd['DayofWeek']= fd['dayNum'].map(decideweek)

In [55]:
#1. Find out the number of delayed flights for all weekdays
#3. Find out how many flights were on time on Week days and Weekends (Consider Saturday and Sunday as weekends)
fd.groupby(['delay','DayofWeek']).agg({'origin':np.size})
# using .index

                   origin
delay   DayofWeek
delayed weekday       336
        weekend        92
ontime  weekday      1362
        weekend       411

In [36]:
#friday=fd.query("dayNum == 4")
#friday['distance'].agg(['mean','sum','size'])
# Find the average distance, total distance and count for all delayed flights on Friday.
fd.query("dayNum == 4")['distance'].agg(['mean','sum','size'])

mean      211.71867
sum     82782.00000
size      391.00000
Name: distance, dtype: float64

In [38]:
# how many flights were ontime 

fd.query("dayNum < 5").groupby('dest').agg('size')

dest
EWR    507
JFK    272
LGA    919
dtype: int64

In [39]:
# number of times weather was bad

fd.query("dayNum < 5 and weather == 1").agg('size')

450