In [2]:
import pandas as pd

In [3]:
store=pd.read_csv("C:\\Users\\hemanth\\Downloads\\JigSaw\\Day 12\\PythonForModellers-master\\
PythonForModellers-master\\Data\\store.csv",encoding="latin1")

In [4]:
import numpy as np

In [16]:
store
store.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
Qty-Cat           object
dtype: object

In [7]:
store.groupby(['Region','Segment']).agg({'Sales':np.mean,''})

                          Sales
Region  Segment
Central Consumer     207.946728
        Corporate    234.763466
        Home Office  208.248046
East    Consumer     238.875539
        Corporate    228.516929
        Home Office  253.911805
South   Consumer     233.390180
        Corporate    238.992025
        Home Office  272.996329
West    Consumer     217.033955
        Corporate    235.265911
        Home Office  239.442692

In [12]:
# using map and apply
# if qunatity is more than 5 alot else veryless
def get_categories(x):
    if x>5:
        return "Alot"
    else:
        return "Very-less"

In [15]:
store['Qty-Cat']=store['Quantity'].map(get_categories)

In [21]:
# using apply function 
store['Sales'].apply(np.sum,axis=0)
# axis =0 is row
# axis =1 is col

In [22]:
comey=pd.read_csv("C:\\Users\\hemanth\\Downloads\\JigSaw\\Day 12\\PythonForModellers-master\\
PythonForModellers-master\\Data\\comey.csv",encoding="latin1")

In [23]:
comey.dtypes

Senator              object
Party Affiliation    object
Full Question        object
Comey                object
Comey Response       object
dtype: object

In [27]:

def callen(x):
    return len(x.split(" "))
crlen=comey['Comey Response'].map(callen)

In [33]:
comey['CRlen']=crlen
comey.dtypes

Senator              object
Party Affiliation    object
Full Question        object
Comey                object
Comey Response       object
CRlen                 int64
dtype: object

In [32]:
comey.groupby(['Party Affiliation','Senator']).agg({'CRlen':np.sum,})

                             CRlen
Party Affiliation Senator
Democrat          FEINSTEIN   1050
                  HARRIS       459
                  HEINRICH     601
                  MANCHIN      652
                  REED         549
                  WARNER      1037
                  WYDEN        416
Independent       KING         467
Republican        BLUNT        427
                  BURR         807
                  COLLINS      626
                  CORNYN       378
                  COTTON       456
                  LANKFORD     562
                  McCAIN       393
                  RISCH        236
                  RUBIO        462

In [36]:
# using to_datetime()

store.dtypes
store['Order Date']=pd.to_datetime(store['Order Date'])
store['Ship Date']=pd.to_datetime(store['Ship Date'])
store.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
Qty-Cat                  object
dtype: object

In [38]:
# extracting weekdays years months and days etc..
#col.dt.month
store['Ship Date'].dt.weekday
store['Ship Date'].dt.month
store['Ship Date'].dt.year
store['Ship Date'].dt.day

0       12
1       12
2       17
3       18
4       18
5       14
6       14
7       14
8       14
9       14
10      14
11      14
12      21
13      11
14      26
15      26
16      18
17      15
18       1
19       1
20       1
21      14
22      14
23      19
24      30
25      20
26      20
27      21
28      21
29      21
        ..
9964    11
9965    11
9966    11
9967    18
9968    18
9969    18
9970     2
9971     2
9972    18
9973    11
9974    11
9975    11
9976    11
9977    11
9978    11
9979    11
9980     9
9981     7
9982    29
9983    29
9984    23
9985    23
9986     4
9987    22
9988    22
9989    24
9990     4
9991     4
9992     4
9993    10
Name: Ship Date, Length: 9994, dtype: int64

In [39]:
# duration of processing
store['Ship Date']-store['Order Date']

0      3 days
1      3 days
2      4 days
3      7 days
4      7 days
5      5 days
6      5 days
7      5 days
8      5 days
9      5 days
10     5 days
11     5 days
12     5 days
13     5 days
14     4 days
15     4 days
16     7 days
17     2 days
18     5 days
19     5 days
20     5 days
21     4 days
22     4 days
23     2 days
24     5 days
25     4 days
26     4 days
27     4 days
28     4 days
29     4 days
        ...
9964   5 days
9965   5 days
9966   5 days
9967   6 days
9968   6 days
9969   6 days
9970   4 days
9971   4 days
9972   6 days
9973   4 days
9974   4 days
9975   4 days
9976   4 days
9977   4 days
9978   4 days
9979   4 days
9980   3 days
9981   3 days
9982   6 days
9983   6 days
9984   6 days
9985   6 days
9986   4 days
9987   4 days
9988   4 days
9989   2 days
9990   5 days
9991   5 days
9992   5 days
9993   5 days
Length: 9994, dtype: timedelta64[ns]